*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 
}

.conteiner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.intractive-rating-component {
    width: 412px;
    padding: 32px;
    margin-bottom: 30px;
    border-radius:20px;
    margin-top: 100px;
    background-color: black;
}
.rating-component__star-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #262E38;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.star-icon {
    width: 17px;
    height: 16px;
}
.rating-component__title {
    font-size: 28px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0px;
    text-align: left;
    color: #FFFFFF;
    margin-top: 30px;


}
.rating-component__text {
    width: 320px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 15px;
    color: #969FAD;
    margin-bottom: 38px;

}
.rating-component__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}
.star-rating {
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.rating-component__form-label {
    background: #262E38;
    border-radius:50%;
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.rating-component__radio-button {
}
.visually-hidden {
    appearance:none;
}
.rating-component__form-control {
    color: #7C8798;

}
.rating-component__form-button {
}
.interactive-rating-component {
}
.thank-you {
}